$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
$holy: #FC0;

.card-result{
    display: grid;
    grid-template-columns: auto auto;
    box-shadow: 10px 5px 5px $gray;
    border-radius: 1px;
    border: 10;
    background-color: $primary;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    animation: fadeInAnimation 3s;
}


p {
    color: $white;
    font-size: 0.9rem;
}

p.roman-text{
    text-shadow: #FC0 1px 0 10px;
}

